.container {
  height: 100vh;

  .img {
    cursor: pointer;
    padding: 8px 24px;
    box-sizing: border-box;
  }

  .menu_list {
    padding-top: 1rem;

    .active_menu_item {
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-size: 0.875rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: rgb(245, 245, 245);
      border-right: 4px solid green;
      padding: 8px 16px;

      img {
        width: 40px;
        padding: 10px;
      }
    }

    .menu_item {
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-size: 0.875rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 16px;

      &:hover {
        background-color: rgb(245, 245, 245);
      }

      img {
        width: 40px;
        padding: 10px;
      }
    }
  }
}